@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Playfair+Display:ital@1&family=Yatra+One&display=swap');


@font-face {
	font-family: 'Skyscapers';
	src: url('//2ttf.com/webfont/6IF8GLA3aiM/webfont.ttf') format('truetype');
}





*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
  }
  
  body {
    font-family: "Poppins", sans-serif;
    cursor: none;
  }
  
  .navbar {
    display: flex;
    align-items: center;
    padding: 20px;
  }
  
  nav {
    flex: 1;
    text-align: right;
  }
  
  
  nav ul {
    display: inline-block;
    list-style-type: none;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 20px;
  }


  nav ul li a {
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background 0.3s ease;
    /* background: linear-gradient(to right, #f6d365 50%, #2779bd 50%); Initial gradient color */
}

/* Change background gradient on hover */
nav ul li a:hover {
    background: linear-gradient(to right, #f6d365 50%, #2779bd 50%); /* Hover gradient color */
    color: white; /* Text color on hover */
}
  
  
  a {
    text-decoration: none;
    color: #555;
  }
  
  p {
    color: #555;
    font-family: "Open Sans";
    font-weight: bold;
  }
  
  .container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
  }
  
  .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .col-2 {
    flex-basis: 50%;
    min-width: 300px;
    margin: 0px 0px 0px 0px;
    font-family: 'Yatra One';
  }

  .woman {
    /* flex-basis: 50%; */
    /* min-width: 300px; */
    margin: 0px 0px 60px 0px;
  }
  
  .col-2 img {
    max-width: 100%;
    padding: 50px 100px;
  }
  
  .col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
  }
  
  .btn {
    display: inline-block;
    background: #ff523b;
    color: #ffffff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
  }
  
  .btn:hover {
    background: #563434;
  }
  
  .header {
    background: radial-gradient(#fff, #ffd6d6);
  }
  
  .header .row {
    margin-top: 70px;
  }
  
  .categories {
    margin: 70px 0;
  }
  
  .col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
    /* margin-right: 40px; */
  }
  
  .col-3 img {
    width: 100%;
  }
  
  .small-container  {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    /* display: flex; */
  /* justify-content: space-between; */
  }
  
  .col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
    
  
  }
  
  .col-4 img {
    width: 100%;
    
  }
  
  .title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
  }
  .title::after {
    content: "";
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    transition: width 0.5s ease-out;
  }

  .title:hover::after {
    width: 150px; /* Set the width to the desired value on hover */
}
  
  h4 {
    color: #555;
    font-weight: normal;
  }
  
  .col-4 p {
    font-size: 14px;
  }
  
  .rating .fas {
    color: #ff523b;
  }
  
  .rating .far {
    color: #ff523b;
  }
  
  .col-4:hover {
    transform: translateY(-5px);
  }
  
  /* Offer */
  
  .offer {
    background: radial-gradient(#fff, #ffd6d6);
    margin-top: 80px;
    padding: 30px 0;
  }
  
  .col-2 .offer-img {
    padding: 50px;
  }
  
  small {
    color: #555;
  }
  
  /* testimonial */
  
  .testimonial {
    padding-top: 100px;
  }
  
  .testimonial .col-3 {
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    cursor: none;
    transition: transform 0.5s;
  }
  
  .testimonial .col-3 img {
    width: 100px;
    margin-top: 20px;
    border-radius: 50%;
  }
  
  .testimonial .col-3:hover {
    transform: translateY(-10px);
  }
  
  .fa-quote-left {
    font-size: 34px;
    color: #ff523b;
  }
  
  .col-3 p {
    font-size: 14px;
    margin: 12px 0;
    color: #777777;
  }
  
  .testimonial .col-3 h3 {
    font-weight: 600;
    color: #555;
    font-size: 16px;
  }
  
  .brands {
    margin: 100px auto;
  }
  
  .col-5 {
    width: 160px;
  }
  
  .col-5 img {
    width: 100%;
    cursor: none;
    filter: grayscale(100%);
  }
  
  .col-5 img:hover {
    width: 100%;
    cursor: none;
    filter: grayscale(0);
  }
  
  /* footer */
  
  .footer {
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
  }
  
  .footer p {
    color: #8a8a8a;
  }
  
  .footer h3 {
    color: #ffffff;
    margin-bottom: 20px;
  }

  .follow{
    margin: 0px 0px;
  }
  
  .footer-col-1,
  .footer-col-2,
  .footer-col-3,
  .footer-col-4 {
    min-width: 250px;
    margin-bottom: 20px;
    padding: 0;
  }
  
  .footer-col-1 {
    flex-basis: 30%;
  }
  
  .footer-col-2 {
    flex: 1;
    text-align: center;
  }
  
  .footer-col-2 img {
    width: 180px;
    margin-bottom: 20px;
  }
  
  .footer-col-3,
  .footer-col-4 {
    flex-basis: 12%;
    text-align: center;
  }
  
  .fb{
    padding: 5px 0px;
  }

  ul {
    list-style-type: none;
    /* padding: 10px 0; */
  }
  
  .app-logo {
    margin-top: 20px;
  }
  .app-logo img {
    width: 140px;
  }
  
  .footer hr {
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
  }
  
  .copyright {
    text-align: center;
  }
  
  .menu-icon {
    width: 28px;
    margin-left: 20px;
    display: none;
  }
  
  /* media query for menu */
  
  @media only screen and (max-width: 800px) {
    nav ul {
      position: absolute;
      top: 70px;
      left: 60%;
      background: #333;
      width: 20%;
      /* justify-content: end; */
      overflow: hidden;
      transition: max-height 0.5s;
    }
    nav ul li {
      display: block;
      margin-right: 50px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  
    nav ul li a {
      color: #fff;
    }
    .menu-icon {
      display: block;
      cursor: none;
    }
  }
  
  /* all products page */
  
  .row-2 {
    justify-content: space-between;
    margin: 100px auto 50px;
  }
  
  select {
    border: 1px solid #ff523b;
    padding: 5px;
  }
  
  select:focus {
    outline: none;
  }
  
  .page-btn {
    margin: 0 auto 80px;
  }
  
  .page-btn span {
    display: inline-block;
    border: 1px solid #ff523b;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: none;
  }
  
  .page-btn span:hover {
    background: #ff523b;
    color: #ffffff;
  }
  
  /* single product details */
  
  .single-product {
    margin-top: 80px;
  }
  
  .single-product .col-2 img {
    padding: 0;
  }
  
  .single-product .col-2 {
    padding: 20px;
  }
  
  .single-product h4 {
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
  }
  
  .single-product select {
    display: block;
    padding: 10px;
    margin-top: 20px;
  }
  
  .single-product input {
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #ff523b;
  }
  
  input:focus {
    outline: none;
  }
  
  .single-product .fas {
    color: #ff523b;
    margin-left: 10px;
  }
  
  .small-img-row {
    display: flex;
    justify-content: space-between;
  }
  
  .small-img-col {
    flex-basis: 24%;
    cursor: none;
  }
  
  /* cart items */
  
  .cart-page {
    margin: 90px auto;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .cart-info {
    display: flex;
    flex-wrap: wrap;
  }
  
  th {
    text-align: left;
    padding: 5px;
    color: #ffffff;
    background: #ff523b;
    font-weight: normal;
  }
  td {
    padding: 10px 5px;
  }
  
  td input {
    width: 40px;
    height: 30px;
    padding: 5px;
  }
  
  td a {
    color: #ff523b;
    font-size: 12px;
  }
  
  td img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
  }
  
  .total-price {
    display: flex;
    justify-content: flex-end;
  }
  
  .total-price table {
    border-top: 3px solid #ff523b;
    width: 100%;
    max-width: 400px;
  }
  
  td:last-child {
    text-align: right;
  }
  
  th:last-child {
    text-align: right;
  }
  /* account page */
  .account-page {
    padding: 50px 0;
    background: radial-gradient(#fff, #ffd6d6);
  }
  
  .form-container {
    background: #ffffff;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .form-container span {
    font-weight: bold;
    padding: 0 10px;
    color: #555555;
    cursor: none;
    width: 100px;
    display: inline-block;
  }
  
  .form-btn {
    display: inline-block;
  }
  
  .form-container form {
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transform 1s;
  }
  
  form input {
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
  }
  
  form .btn {
    width: 100%;
    border: none;
    cursor: none;
    margin: 10px 0;
  }
  
  form .btn:focus {
    outline: none;
  }
  
  #LoginForm {
    left: -300px;
  }
  
  #RegForm {
    left: 0;
  }
  
  form a {
    font-size: 12px;
  }
  
  #Indicator {
    width: 100px;
    border: none;
    background: #ff523b;
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
    transition: transform 1s;
  }
  
  /* media query for less than 600 screen size */
  
  @media only screen and (max-width: 600px) {
    .row {
      text-align: center;
    }
    .col-2,
    .col-3,
    .col-4 {
      flex-basis: 100%;
    }
  
    .single-product .row {
      text-align: left;
    }
  
    .single-product .col-2 {
      padding: 20px 0;
    }
    .single-product h1 {
      font-size: 26px;
      line-height: 32px;
    }
    .cart-info p {
      display: none;
    }
  }






  .button {
    height: 50px;
    width: 150px;
    margin: 30px 0;
    border: none;
    border-radius: 10px;
    cursor: none;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
  }
  
  .button:hover {
    box-shadow: .5px .5px 150px #252525;
  }
  
  .type1::after {
    content: "Let's Go →";
    height: 50px;
    width: 150px;
    /* background: #; */
    background-color: #ff523b;
    color: #ffffff;
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translateY(50px);
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
  }
  
  .type1::before {
    content: "Explore →";
    height: 50px;
    width: 150px;
    background-color: #fff;
    color: #ff523b;
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translateY(0px) scale(1.2);
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
  }
  
  .type1:hover::after {
    transform: translateY(0) scale(1.2);
  }
  
  .type1:hover::before {
    transform: translateY(-50px) scale(0) rotate(120deg);
  }










  @keyframes circle-in-hesitate {
    0% {
      clip-path: circle(0%);
    }
    40% {
      clip-path: circle(40%);
    }
    100% {
      clip-path: circle(125%);
    }
  }

  [transition-style="in:circle:hesitate"] {
    animation: 5s cubic-bezier(.25, 1, .30, 1) circle-in-hesitate both;
  }

  /* Add additional styles to your element here */
  .animated-element {
    width: 100%;
    height: 100%;
    background-color: #3498db; /* Set your desired background color */
    /* margin: 20px; */
  }


        /* /////// cursor ///////// */
        .custom-cursor {
            position: fixed;
            width: 30px; /* Adjust the size of the image */
            height: 30px;
            pointer-events: none; /* Allow clicks to pass through */
            transform: translate(-50%, -50%);
        }

        /* Optional: Add hover effect to the cursor */
        .custom-cursor:hover {
            filter: brightness(120%); /* Example: Increase brightness on hover */
        }

        /* Style for links and buttons */
        a, button {
            cursor: none  ; /* Set the cursor to pointer for links and buttons */
        }




        /* //////////////////fotter////////////// */

.card {
  display: flex;
  height: 70px;
  width: 380px;
}

.card svg {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  font-size: 24px;
  font-weight: 700;
  opacity: 1;
  transition: opacity 0.25s;
  z-index: 2;
  padding: 0.25rem;
  cursor: none;
  color: whitesmoke;
}

.card .social-link1,.card .social-link2,.card .social-link3,.card .social-link4,.card .social-link5 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  color: whitesmoke;
  font-size: 24px;
  text-decoration: none;
  transition: 0.25s;
  border-radius: 50px;
}

.card svg {
  transform: scale(1);
}

.card .social-link1:hover {
  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  animation: bounce_613 0.4s linear;
}

.card .social-link2:hover {
  background-color: #242c34;
  animation: bounce_613 0.4s linear;
}

.card .social-link3:hover {
  background-color: #5865f2;
  animation: bounce_613 0.4s linear;
}

.card .social-link4:hover {
  background-color: #0a66c2;
  animation: bounce_613 0.4s linear;
}

.card .social-link5:hover {
  background-color: #ff8000;
  animation: bounce_613 0.4s linear;
}

@keyframes bounce_613 {
  40% {
    transform: scale(1.4);
  }

  60% {
    transform: scale(0.8);
  }

  80% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}




/* /////////////////cards////////////////// */
.post {
  position: relative;
  width: 300px;
  height: 200px;
  background-color: #f2f2f2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px #ffffff80;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.post img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.post:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.post__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.post:hover .post__content {
  transform: rotateX(0deg);
}

.post__title {
  margin: 0;
  font-size: 24px;
  color: #333;
  font-weight: 700;
}

.post:hover svg {
  scale: 0;
}

.post__description {
  margin: 10px 0 0;
  font-size: 14px;
  color: #777;
  line-height: 1.4;
}


.post_con  {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  /* display: flex; */
/* justify-content: space-between; */
}















/* ////////////////3d///////////// */

.threed{
    perspective: 800px;
    position: relative;
    overflow: hidden;
  }

.offer-img {
    width: 100%;
    max-width: 100%;
    transform: rotateY(0deg) rotateX(0deg);
    transform-origin: center;
    transition: transform 1s ease;
  }
  .threed:hover{
    scale: 1.2;
  }


















  .more {
    background-color: #000;
    clear: both;
    color: #fff;
    cursor: none;
    display: block;
    font-size: 14px;
    margin-top: 6px;
    /* padding: 6px 0; */
    text-align: center;
    text-transform: uppercase;
    width: 200px;
    /* justify-content: center; */
  }

  .col-4:nth-child(1),
  .col-4:nth-child(2),
  .col-4:nth-child(3) {
    /* Add your styles for the first three .col-4 elements here */
    /* border: 2px solid #333; */
    /* Example styling: a border for demonstration purposes */
  }

  

  .fp{
    display: none;
  }

  .more.hidden {
    display: none;
  }




/* //////////////more////////////// */

.button {
  line-height: 1;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: .75rem;
  background-color: var(--clr);
  color: #fff;
  border-radius: 10rem;
  font-weight: 600;
  padding: .75rem 1.5rem;
  padding-left: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: background-color .3s;
  /* justify-content: space-around; */
  /* text-align: center; */
  
}

.button__icon-wrapper {
  flex-shrink: 0;
  width: 25px;
  height: 25px;
  position: relative;
  color: var(--clr);
  background-color: #fff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.button:hover {
  background-color: #000;
}

.button:hover .button__icon-wrapper {
  color: #000;
}

.button__icon-svg--copy {
  position: absolute;
  transform: translate(-150%, 150%);
}

.button:hover .button__icon-svg:first-child {
  transition: transform .3s ease-in-out;
  transform: translate(150%, -150%);
}

.button:hover .button__icon-svg--copy {
  transition: transform .3s ease-in-out .1s;
  transform: translate(0);
}











.second {
  display: flex;
  align-items: center;
  justify-content: center;
}

.second_box {
  width: 200px;
  height: 250px;
  border-radius: 20px;
  background: linear-gradient(170deg, rgba(58, 56, 56, 0.623) 0%, rgb(31, 31, 31) 100%);
  position: relative;
  box-shadow: 0 25px 50px rgba(0,0,0,0.55);
  cursor: pointer;
  transition: all .3s;
}

.second_box:hover {
  transform: scale(0.9);
}

.second_box span {
  position: absolute;
  overflow: hidden;
  width: 150px;
  height: 150px;
  top: -10px;
  left: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.second_box span::before {
  content: 'Premium';
  position: absolute;
  width: 150%;
  height: 40px;
  background-image: linear-gradient(45deg, #ff6547 0%, #ffb144  51%, #ff7053  100%);
  transform: rotate(-45deg) translateY(-20px);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  box-shadow: 0 5px 10px rgba(0,0,0,0.23);
}

.second_box span::after {
  content: '';
  position: absolute;
  width: 10px;
  bottom: 0;
  left: 0;
  height: 10px;
  z-index: -1;
  box-shadow: 140px -140px #cc3f47;
  background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
}